.formButton {
    width: 14rem;
    margin-top: 1.5rem;
    align-items: center;
}

.formButton button {
    padding: 0;
    width: 5.75rem;
    margin-right: 1rem;
    margin-top: 0.0025rem;
    margin-bottom: 1rem;
}