.textArea {
    margin: 0;
    margin-bottom: 0.5rem;
}
.textArea textarea {
    min-width: 12.5rem;
    min-height: 5rem;
    max-width: 12.5rem;
    max-height: 5rem;
    border-radius: 3px;
    margin-top: 0.25rem;
}
.textArea label {
    float: left;
}