.modal-wrapper {
    width: 55%;
    height: 55%;
    max-width: 600px;
    max-height: 600px;
    position: fixed;
    margin: 20.95% 0 0 22.5%;
    transition: all 1s ease;
    background-color: white;
}

.modal-header {
    background-color: green;
    color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    height: 1.5rem;
    justify-content: space-between;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: .5rem 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-drop {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 2s;
    background: rgba(0, 0, 0, 0.5); 
}
