.modal-drop {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 2s;
    background: rgba(0, 0, 0, 1); 
}

.modal {
    width: 15rem;
    height: 28rem;
    max-width: 600px;
    max-height: 700px;
    margin-left: 40vw;
    margin-top: 9vh;
    vertical-align: middle;
    position: fixed;
    transition: all 1s ease;
    background-color: white;
}

.modal-header {
    background-color: rgba(0, 23, 99, 0.8);
    color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    height: 1.5rem;
    justify-content: space-between;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: .5rem 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-drop {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 2s;
    background: rgba(0, 0, 0, 0.5); 
}

@media (max-width: 540px){
    .modal {
        width: 15rem;
        height: 28rem;
        margin-left: 5.15rem;
        margin-top: 5.0rem;
    }
}

@media (max-height: 540px){
    .modal {
        margin-top: 0;
        zoom: 0.75;
    }
}