.remove{
    float: right;
}
.edit{
    float: right;
}

.addTable{
    width: 25px;
    height: 90vh;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
    align-content: center;
    margin: 10px 10px 10px 0;
}