.card{
    width: 95%;
    height: 150px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    background: #919191;
}

.card :hover{
    transform: scale(1.025);
}

.card h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardHeader {
    margin: 0;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
}

.cardHeader button {
    padding: 0;
    margin: 0;
    width: 3.9rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.priority {
    float: right;
}

.description {
    width: 95%;
    margin-top: 0;
    padding-left: 0.5rem;
}