.viewe {
    width: 13rem;
    height: 22rem;
}

.controlViewe{
    display: flex;
    justify-content: space-between;
}

.controlViewe button {
    padding: 0;
    padding-bottom: 0.15rem;
    margin: auto;
    margin-top: 0.5rem;
    min-width: 2.5rem;
    max-width: 3.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.headerViewe{
    display: inline-flex;
    width: 12.5rem;
    margin: 0;
}

.dateViewe {
    font-size: 0.8rem;
    width: fit-content;
    justify-content: space-between;
    margin: 1rem;
}

.priorityViewe{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 0.5rem 2rem;
    font-size: 0.8rem;
}