.table{
    overflow-y: auto;
    overflow-x: hidden;
    width: 24.5rem;
    min-width: 13.5rem;
    max-height: 700px;
    border-radius: 5px;
    margin: 0.95rem 0.5rem 1rem 0.5rem;
    text-align: center;
    float: left;
    background: rgb(255, 255, 255,0.5);
}

.table:hover{
    transform: scale(1.025);
}

.table button{
    margin-bottom: 1.5rem;
}

.tableHeader{
    padding: 0;
    margin: 0;
    margin-top: 0.7rem;
    vertical-align: middle;
}

.tableHeader button {
    padding: 0;
    padding-bottom: 0.15rem;
    margin: 0;
    min-width: 2.5rem;
    max-width: 3.5rem;
    text-align: center;
    border-radius: 0.5rem;
}


@media (max-width: 640px){
    .table{
        margin: 0.95rem;
    }

    .tableHeader{
        margin-top: 1rem;
    }

    .tableHeader button {
        min-width: 4rem;
    }
}