.table{
    overflow-y: auto;
    width: 24.5rem;
    height: 100%;
    max-height: 500px;
    border-radius: 5px;
    margin: 0.95rem;
    margin-bottom: 1rem;
    text-align: center;
    float: left;
    background: rgb(255, 255, 255,0.5);
}
.table button{
    margin-bottom: 1.5rem;
}

.table:hover{
    transform: scale(1.025);
}

.tableHeader{
    width: 24.5rem;
    height: 1rem;
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;

}
.tableHeader button {
    padding: 0;
    margin: 0;
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.newTable{
    width: 24.5rem;
    height: 10rem;
    border-radius: 5px;
    margin: 0.95rem;
    margin-bottom: 5rem;
    text-align: center;
    float: left;
    background: rgb(255, 255, 255,0.5);
}

.newTable input {
    margin-bottom: 1rem;
}