body {
    background: url('./Components/default/images/5310589_1920.jpg');
    
}

.container {
    overflow-y: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    align-content: center;
    background-color: rgba(168, 168, 168, 0.3);
}