body {
    background: url('./Components/default/Images/5310589_1920.jpg');
    overflow-y: hidden;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(116, 116, 116, 0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.container {
    overflow-x: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    align-content: center;
}

@media (max-width:720px){
    .container {
        overflow-y: auto;
        overflow-x: hidden;
    }
}